.match-summary {
    padding: 20px;
    background-color: #f0f0f0;
}

.scoreboard {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 12px; /* Slight rounding for the entire scoreboard */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.team {
    flex: 1;
    text-align: center;
    background-color: #ffffff;
    border-radius: 16px; /* Rounded square corners */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-name {
    font-size: 24px;
    font-weight: bold;
}

.team-score {
    font-size: 20px;
    margin-top: 10px;
}

.team-overs {
    font-size: 16px;
    margin-top: 5px;
    color: gray;
}
.vs {
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
}

.last-ten-balls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 24px;
}

.ball {
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

/* Colors for the different ball types */

.ball.r0,
.ball.r1,
.ball.r2,
.ball.r3 {
    background-color: lightgray;
}

.ball.r4 {
    background-color: skyblue;
}

.ball.r6 {
    background-color: lightgreen;
}

.ball.rW {
    background-color: lightcoral;
}
.ball.rNB,
.ball.rWD {
    background-color: lightsalmon;
}
.statistics {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.statistics h3 {
    margin-bottom: 10px;
}
.over-separator {
    margin: 0 10px; /* Extra spacing on both sides */
    color: #000; /* You can choose any color */
    font-size: 24px; /* Adjust the size of the dot */
    font-weight: bold;
}


